.categoryBlock {
    display: flex;
    align-items: center;
    gap: 10px;
}

.dot {
    height: 10px;
    width: 10px;
    background-color: #000000;
    border-radius: 50%;
}

.countBox {
    color: white;
    display: flex;
    justify-content: center; /*horiz*/
    align-items: center; /*vertical*/

    height: 20px;
    width: 20px;
    background-color: #000000;
    border-radius: 4px;
}