name: CI - Backend

on:
  push:
    branches: [ main, camilla/workflowSetup ]
    paths:
      - 'backend/**'
      - '.github/workflows/ci-backend.yml'
  pull_request:
    branches: [ main, camilla/workflowSetup ]
    paths:
      - 'backend/**'

jobs:
  test:
    runs-on: ubuntu-latest
    container:
      image: node:20

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Install dependencies
        run: npm ci
        working-directory: backend

      - name: Run backend tests
        run: npm test
        working-directory: backend
